:root {
    background-image: url('background.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column; 
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
}
h1 {
    color: rgb(3, 240, 3);
}
header {
 text-align: center;
 margin-top: -22px;
}
img {
  transform: scale(0.3);
  margin-bottom: -133px;
}

.line {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(78, 229, 78);
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
form {
    margin-right: 100px;
    margin-left: 100px
}

.monopattini {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.description {
    color: white;
}

.charge1 {
    background-color: orange;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-right: 50%;
    border-radius: 10px;
}

.charge2 {
    background-color: green;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-right: 20%;
    border-radius: 10px;
}

.charge3 {
    background-color: red;
    padding-top: 30px;
    margin-right: 70%;
    border-radius: 10px;
}